<header class="header">
	<a class="logo" routerLink="/home">
		<img src="../../assets/logo-removebg.png" />
	</a>
	<h1 class="title">POLI-CINEMA</h1>
	<div class="header-actions">
		<a routerLink="/home" class="nav-link nav-icon-text" routerLinkActive="active"
			><cds-icon shape="home" class="icon"></cds-icon
			><span class="nav-text icon-fix second-title">Home</span></a
		>
		<a routerLink="/profile" class="nav-link nav-icon-text" routerLinkActive="active">
			<cds-icon shape="user"></cds-icon>
			<span class="nav-text second-title">{{ userName }}</span>
		</a>
	</div>
</header>
