<form clrForm>
    <h6 class="card-title"> Fulano 20/20/2020</h6>
    <ngx-stars [maxStars]="5"  [color]="'#f0c54d'"></ngx-stars>
    <div class="clr-form-control">
        <label>Textarea Label</label>
        <clr-textarea-container>
            <textarea clrTextarea placeholder="Ingrese su reseña" class="review-textarea"></textarea>
            <clr-control-helper>Helper text for the textarea input.</clr-control-helper>
        </clr-textarea-container>
    </div>
    <div class="container-center">
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>
