form{
    background-color: #21333b;
}

.container-center{
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}
.card-title{
    color: #E9ECEF;
}

clr-textarea-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

form-group {
    padding-top: 0rem;
}

label {
    display: none;

}

input{
    color:#E9ECEF
}

textarea {
    width: 100%;
    max-width: 40rem;
}

clr-control-helper {
    margin: 10px 0;
}

.inputs-container{
    padding-top: 1.5rem;
}

.custom-textarea {
    width: 100%; /* You can adjust the width as per your requirements */
  }

::ng-deep .clr-textarea {
    width: 100%;
}

::ng-deep .clr-textarea-wrapper{
    width: 100%;
}

::ng-deep .clr-control-container{
    width: 100%;
    padding-bottom: 0.5rem;
}

button{
margin-top: 1rem;
}


