<section class="container clr-row" *ngIf="movie">
	<div class="clr-col-lg-5 clr-col-md-6 clr-col-12 left-content">
		<div class="poster-score">
			<div class="card-img-movie">
				<img [src]="'https://image.tmdb.org/t/p/w1280' + movie.poster_path" />
			</div>
			<div class="rating card-text">
				<div class="star-rating">
					<ngx-stars
						#starsComponent
						[readonly]="true"
						[maxStars]="5"
						[color]="'#f0c54d'"
						[size]="3"
						[initialStars]="initialStarNumber"
					></ngx-stars>
					<p>{{ initialStarsArray.length ? calculateAverage() : 'N/R' }}</p>
				</div>

				<button class="btn btn-primary btn-show" (click)="openModal()">
					<cds-icon shape="plus-circle" size="m" solid></cds-icon>
					Agregar reseña
				</button>
			</div>
			<!--Modal para comentarios-->
			<clr-modal
				[(clrModalOpen)]="modalOpen"
				[clrModalSize]="'lg'"
				[clrModalStaticBackdrop]="false"
			>
				<div class="modal-body">
					<h5 class="form-modal-title">Añadir reseña para: {{ movie.title }}</h5>
					<app-add-review-body></app-add-review-body>
				</div>
			</clr-modal>
		</div>
	</div>

	<div class="clr-col-lg-6 clr-col-md-6 clr-col-12 right-content" *ngIf="reviews">
		<h1 class="card-title header-1">{{ movie.title }}</h1>
		<h2 class="card-title header-2">Reseñas de usuarios</h2>
		<div class="reviews-section" *ngFor="let review of reviews; let i = index">
			<div class="card review-box" *ngIf="review">
				<h4 class="card-title title">{{ review.reviewTitle }}</h4>
				<h5 class="card-title">
					{{ review.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ review.date }}
				</h5>
				<p class="card-description">{{ review.feedback }}</p>
				<div class="star-rating">
					<ngx-stars
						[readonly]="true"
						[maxStars]="5"
						[color]="'#f0c54d'"
						[size]="1"
						[initialStars]="initialStarsArray[i]"
					></ngx-stars>
				</div>
			</div>
		</div>
	</div>
</section>
